<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-card style="
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                        sans-serif;
                " header="ATENDIMENTO AO CLIENTE">
                <p class="m-0">
                    Preencha os campos abaixo para nos enviar um e-mail:
                </p>
            </p-card>
            <form [formGroup]="formGroup" style="margin-top: 4%">
                <p class="m-1" style="
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow',
                            Arial, sans-serif;
                    ">
                    Assunto:
                </p>
                <p-dropdown formControlName="selectedSups" [options]="sups" optionLabel="name"
                    placeholder="Selecione um assunto" />
            </form>
            <p class="m-1 flex gap-4 mt-4" style="
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                        sans-serif;
                ">
                Dúvida:
            </p>
            <form [formGroup]="formGroup">
                <textarea rows="5" style="width: 100%" pInputTextarea formControlName="text" formControlName="duvida">
                </textarea>
                <p-button type="submit" label="Enviar" class="flex gap-4 mt-4" />
            </form>
        </div>
    </div>
</div>
